.container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue;
    margin-bottom: 130px;
}

.form-group {
    margin-top: 40px;
}

.title {
    margin-top: 10px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

.note {
    color: gray;
    margin: 8px 0;
}

input.active:valid {
    box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
    box-shadow: 0 0 5px 1px red;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.btn {
    margin-top: 13px;
}